<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
<style>
div {
  background-color: rgb(163, 30, 130);
  width: 300px;
  border: 3px solid rgb(218, 198, 161);
  padding: 5px;
  margin: 5px;
}

li {
  background-color: rgb(28, 107, 153);
  width: 50px;
  border: 3px solid rgb(32, 182, 132);
  padding: 5px;
  margin: 5px;
}
</style>
</head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">First Web App</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

{% block content %}
{% endblock %}

 </body>
</html>